<!-- Title -->
<title>
  {{ htmlWebpackPlugin.options.title }}
</title>

<!-- favicon -->
<link rel="icon" href="{{ htmlWebpackPlugin.options.fav }}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{{ htmlWebpackPlugin.options.fav }}">

<!-- META -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="theme-color" content="{{ htmlWebpackPlugin.options.color }}" />
<meta name="author" content="Pixavio Digital Studio">
<meta name="description" content="{{ htmlWebpackPlugin.options.desc }}">

<!-- Res -->
<link rel="stylesheet" href="/css/styles.css">
<script src="/js/main.js" defer></script>

<!-- Turbolinks no chache -->
<!-- <meta name="turbo-cache-control" content="no-cache"> -->

<!-- <link rel="preconnect" href="https://api1.example.com"> -->

<!-- OG data -->
<meta property="og:title" content="{{ htmlWebpackPlugin.options.title }}" />
<meta property="og:type" content="{{ htmlWebpackPlugin.options.ogtype }}" />
<meta property="og:url" content="{{ htmlWebpackPlugin.options.ogurl }}" />
<meta property="og:image" content="{{ htmlWebpackPlugin.options.ogimage }}" />
<meta property="og:description" content="{{ htmlWebpackPlugin.options.desc }}" />
<meta property="og:site_name" content="{{ htmlWebpackPlugin.options.ogbiz }}" />

<!-- TW card -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@">
<meta name="twitter:description" content="{{ htmlWebpackPlugin.options.desc }}">
<meta name="twitter:title" content="{{ htmlWebpackPlugin.options.title }}">
<meta name="twitter:image" content="{{ htmlWebpackPlugin.options.ogimage }}">